extends layout.pug 

block vars
  - var title = 'demo-step-9'

block title
        | Step 9
block content
      ul
        li Use router#{' '}
         span.emp ROUTER_NAVIGATION
         |#{' '}to start fetching the data
        li Write selector to extract mode from url


