extends layout.pug 

block vars
  - var title = 'demo-step-1'
   

block title
        | Step 1
block content
      ul
        li Write your first reducer
         br
         span.emp
            | hint: (State, Action) => State
        li Add initial, default state to your reducer
        li Wire up the reducer with the module using#{' '}
            span.emp
                |StoreModule.forRoot method
            |#{' '}and#{' '}
            span.emp
                |ActionReducerMap



