extends layout.pug 

block vars
  - var title = 'demo-step-11'

block title
        | Step 11
block content
      ul
        li Adjust selectors
        li Fix issue with too often calling fetch data.
