extends layout.pug 

block vars
  - var title = 'demo-step-10'

block title
        | Step 10
block content
      ul
        li Adjust #{' '}
            span.emp TaskBoardComponent
            |#{' '} component to use just observables
        li Remove fetch button from step 5


