extends layout.pug

block vars
  -var title = 'glossary'

block title
        | Glossary

block content      
        ul
            li.fragment Store - objects which stores our state, and provides mechanism to access it

            li.fragment Reducers - functions to change the state

            li.fragment Action - 'event' to trigger change of the state




