extends layout.pug

block vars
  -var title = 'introduction'

block title
        | Let's get know each other

block content      
        ul
            li.fragment
              | Angular / Web experience
            li.fragment
              | Why I'm here


