extends layout.pug 

block vars
  - var title = 'iteraWro'
  - var bgColor = "black"
  - var transition= "none"
block title       
        |
block content
    div.fragment
        img(src="img/mgm1.png" style="border:0")
