extends layout.pug 

block vars
  - var title = 'missed'

block title
        | What we have missed
block content
       ul
            li.fragment
               | state normalization
            li.fragment
               | tooling
            li.fragment
               | testing of effects and selectors
            li.fragment
               | alternatives for NgRx
