extends layout.pug 

block vars
  - var title = 'title'

block title
        | Angular With NgRx
        
block content
        p.credits
          | + INTRODUCTION TO REDUX ARCHITECTURE
        p.credits
          | Paweł Kamiński
